alias s="cd .."
alias rm="rm -f"
alias vi=vim
alias python="python3.8 -Wd -b" # Wd = warnings default
alias pip=pip3

#https://stackoverflow.com/questions/33817282/auto-completion-not-work-for-command-du
#alias du=gdu

alias ga="git add"
alias gs="git status"
alias gc="git checkout"
alias gp="git pull"
alias gd="git diff"
alias gg="git grep"
alias go="git checkout"


alias df='df -x"squashfs"'

alias htop="TERM=linux htop"

if [[ $OSTYPE == linux-gnu ]]; then
    alias ls="ls --color -N"
    alias open=xdg-open
fi

alias mplayer=mpv

alias googleearth="LIBGL_ALWAYS_SOFTWARE=1 /opt/google/earth/pro/googleearth"
